.git
.github
.gitmodules
.ccache
maplibre-native/.aspect
maplibre-native/.git
maplibre-native/.github
maplibre-native/.gitmodules
maplibre-native/bazel
maplibre-native/build
maplibre-native/design-proposals
maplibre-native/docker
maplibre-native/docs
maplibre-native/lib
maplibre-native/metrics
maplibre-native/node_modules
maplibre-native/platform/android
maplibre-native/platform/ios
maplibre-native/platform/qt
maplibre-native/test/fixtures/offline_database
maplibre-native/vendor/wagyu/tests
maplibre-native/vendor/mapbox-base/deps/pixelmatch-cpp/test/fixtures
maplibre-native/vendor/mapbox-base/deps/geojson-vt-cpp/test/fixtures
maplibre-native/ARCHITECTURE.md
maplibre-native/BUILD.bazel
maplibre-native/CODE-OF-CONDUCT.md
maplibre-native/CONTRIBUTING.md
maplibre-native/DEVELOPING.md
maplibre-native/WORKSPACE
*.mvt